fastapi
uvicorn

langchain
langchain-community

pypdf

sentence-transformers

qdrant-client

google-generativeai

python-dotenv

pymongo

python-multipart

rank-bm25

numpy

pandas

scikit-learn

tqdm

rich

requests